body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}
/* Header */
#header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1%;
}
#about {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    bottom: 30px;
}
#store {
    position: relative;
    bottom: 30px;
}
#gmail {
    margin-right: 30px;
    position: relative;
    bottom: 30px;
}
#images {
    margin-right: 30px;
    position: relative;
    bottom: 30px;
}
#google-apps {
    margin-right: 30px;
    width: 50px;
}
#google-account {
    margin-right: 30px;
    width: 50px;
}
/* Main Content */
#google {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 40px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-radius: 20px;
    text-indent: 10px;
}
#search-buttons {
    display: flex;
    justify-content: center;
}
.flex-item {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 160px;
    height: 40px;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    color: rgb(100, 100, 100);
}
/* Footer */
#footer-container {
    margin-top: 5%;
}
#top-footer {
    display: block;
    background-color: rgb(240, 240, 240);
    color: rgb(120, 120, 120);
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    text-indent: 16px;
}
#bottom-footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.footer-element {
    margin-left: 16px;
    margin-right: 16px;
    color:rgb(120, 120, 120);
}
@media (min-height: 600px) {
    /* Footer */
    #footer-container {
        position: absolute;
        width: 100vw;
        bottom: 0;
    }
}